/* FONT-FACE*/
@font-face {
    font-family: 'titillium_webregular';
    src: url("#{resource['fonts/titilliumweb-regular-webfont.eot']}");
    src: url("#{resource['fonts/titilliumweb-regular-webfont.eot']}#iefix") format('embedded-opentype'),
        url("#{resource['fonts/titilliumweb-regular-webfont.woff']}") format('woff'),
        url("#{resource['fonts/titilliumweb-regular-webfont.ttf']}") format('truetype'),
        url("#{resource['fonts/titilliumweb-regular-webfont.svg']}#titillium_webregular") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_websemibold';
    src: url("#{resource['fonts/titilliumweb-semibold-webfont.eot']}");
    src: url("#{resource['fonts/titilliumweb-semibold-webfont.eot']}#iefix") format('embedded-opentype'),
        url("#{resource['fonts/titilliumweb-semibold-webfont.woff']}") format('woff'),
        url("#{resource['fonts/titilliumweb-semibold-webfont.ttf']}") format('truetype'),
        url("#{resource['fonts/titilliumweb-semibold-webfont.svg']}#titillium_websemibold") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_webbold';
    src: url("#{resource['fonts/titilliumweb-bold-webfont.eot']}");
    src: url("#{resource['fonts/titilliumweb-bold-webfont.eot']}#iefix") format('embedded-opentype'),
        url("#{resource['fonts/titilliumweb-bold-webfont.woff']}") format('woff'),
        url("#{resource['fonts/titilliumweb-bold-webfont.ttf']}") format('truetype'),
        url("#{resource['fonts/titilliumweb-bold-webfont.svg']}#titillium_webbold") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_webbold_italic';
    src: url("#{resource['fonts/titilliumweb-bolditalic-webfont.eot']}");
    src: url("#{resource['fonts/titilliumweb-bolditalic-webfont.eot']}#iefix") format('embedded-opentype'),
        url("#{resource['fonts/titilliumweb-bolditalic-webfont.woff']}") format('woff'),
        url("#{resource['fonts/titilliumweb-bolditalic-webfont.ttf']}") format('truetype'),
        url("#{resource['fonts/titilliumweb-bolditalic-webfont.svg']}#titillium_webbold_italic") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_websemibold_italic';
    src: url("#{resource['fonts/titilliumweb-semibolditalic-webfont.eot']}");
    src: url("#{resource['fonts/titilliumweb-semibolditalic-webfont.eot']}#iefix") format('embedded-opentype'),
        url("#{resource['fonts/titilliumweb-semibolditalic-webfont.woff']}") format('woff'),
        url("#{resource['fonts/titilliumweb-semibolditalic-webfont.ttf']}") format('truetype'),
        url("#{resource['fonts/titilliumweb-semibolditalic-webfont.svg']}#titillium_websemibold_italic") format('svg');
    font-weight: normal;
    font-style: normal;

}

.FontTitilliumRegular{font-family: 'titillium_webregular';}
.FontTitilliumBoldItalic{font-family: 'titillium_webbold_italic';}
.FontTitilliumSemiBoldItalic{font-family: 'titillium_websemibold_italic';}

body{
    background-color: #F6F8F8; 
    margin:0px;   
    font-size: 10pt;
}

/* HEADER BAR */

#header-layout-unit {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'titillium_webregular';
    height: auto;
}

#header-layout-unit .ui-layout-unit-content{
    background: #484947;
    color: #D9D9D9;
    margin: 0;
    border: 0;
    padding-left: 20px;
    height: auto;
}

#header-layout-unit h1 {
    font-family: 'titillium_webbold_italic';
}




/* LEFT BAR */

#left-layout-unit {
    width: auto;
    font-family: 'titillium_webregular';
}
#left-layout-unit .ui-layout-unit-content{ 
    
}
.menu-principal {
    background: #484947 -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0));
    width: auto;
    color: white;
    
}
.menu-principal .ui-widget-header {
    background: #5b87a4;        
    border: 0;
}
.menu-principal .ui-widget-header h3 {
    color: white;
    font-family: 'titillium_webregular';
}
.menu-principal a.ui-state-hover {
    color: #5b87a4; 
}
.menu-principal .ui-menuitem-link {
    color: white;
    font-family: 'titillium_webregular';
}



/* BOTTOM LAYOUT */

#bottom-layout-unit {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'titillium_webregular';
}

#bottom-layout-unit .ui-layout-unit-content{
    background: #9d9b9a;
    color: #454545;
    margin: 0;
    border: 0;    
}